body{background-color: #EDD987;}
h1{
    font-size: 50px;
    color: #353326;
    text-align: center;}
p {
    font-size: 35px;
    text-align: justify;
    color: #6D6941;
}
.lista {
    font-size: 25px;
    color: #6D6941;
}
.hike {
    width: 300px;
    border-radius: 20px;
    position: absolute;
    top: 240px;
    left: 300px;
    color: #2a281e;
    border: 3px, solid;
}
.tableimage{
    padding: 20px;
    
}
img {
     border-radius: 10px;
   }
.tabletext{
    font-size: 25px;
    color: #2a281e;
}
table{
    
    border-radius: 30px;
}
td{
    background-color: #6D6941 ;
    color: #2a281e;
    border: 3px, solid;
    border-radius: 30px;
}
.link{
    font-size: 25px;
    color: #353326;
}
.link:hover{
    color: #AF5B22;
}
